-if logged_in?
  - content_for :quick_links do
    %li
      = link_to t('base.cabinet'), cabinet_users_url(:subdomain=>@user.subdomain)
      = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>cabinet_users_url(:subdomain=>@user.subdomain))

    -# if HAS ROLE (:forums, :manage)
    - if current_user.has_role?(:forums, :manage)
      %li
        = link_to 'Управление форумами', manage_forums_url(:subdomain=>current_user.subdomain)
        = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>manage_forums_url(:subdomain=>current_user.subdomain))
    %li
      = link_to t('base.files'), storages_url(:subdomain=>@user.subdomain)
      = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>storages_url(:subdomain=>@user.subdomain))
