- content_for :css do
  =stylesheet_link_tag 'basic/edit_form.css', :media=>'screen'

.panel
  %p
    = link_to t('base.cabinet'), cabinet_users_url(:subdomain=>current_user.subdomain)
  %p  
    = link_to t('roles.list'),  admin_roles_path

  = object_errors(@role)

.edit_form.overblock
  %h5= t('roles.create')
  -form_for(@role, :url => admin_roles_path) do |f|
    = f.text_field :title
    = f.submit t('roles.new')
