-if logged_in?
  - content_for :quick_links do
    %li
      = link_to t('base.cabinet'), cabinet_users_url(:subdomain=>current_user.subdomain)
      = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>cabinet_users_url(:subdomain=>current_user.subdomain))

    - if current_user.has_role?(:pages, :manage)
      %li
        = link_to 'Управление страницами', manage_pages_url(:subdomain=>current_user.subdomain)
        = link_to_function(image_tag('basic/ext_link.gif'), popup_window(:left=>100, :top=>100), :href=>manage_pages_url(:subdomain=>current_user.subdomain))

    -if current_user.has_role?(:pages, :edit)
      - if current_user.owner?(@page)
        %li
          = link_to 'Редактировать эту страницу', edit_page_url(@page, :subdomain=>@user.subdomain)


